a:link{
    text-decoration: none;
}

.taskListHeader{
    horiz-align: center;
    vertical-align: center;
    color:white;
    font-size: 22px;
    font-weight: normal;
    border: 0px transparent;
}
.header{
    background-color: #2172ce;
    border: 0px transparent;
}

.newButton {
    background-color:transparent;
    color:white;
    border-color:transparent;
    font-weight: bold;
    font-size: 30px;
}
.backButton {
    background-color:transparent;
    color: white;
    border-color:transparent;
    font-weight: bold;
    font-size: 30px;
}

.taskListName{
     horiz-align: center;
     vertical-align: center;
     color: 3a3a3a;
     font-size: 18px;
}
.deleteListButton {
    background-color:transparent;
    color:black;
    border-color:transparent;
    font-weight: bold;
    font-size: 22px;
    horiz-align: center;

}

.taskName{
    horiz-align: center;
    vertical-align: center;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.completedTaskName{
    horiz-align: center;
    vertical-align: center;
    color: gray;
    font-weight: bold;
    font-size: 16px;
}


table{
    width: 30%;
}

.markTaskButton {
    background-color:transparent;
    color: #21a838;
    border-color: #21a838;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}

.deleteTaskButton {
    background-color:transparent;
    color: #db1313;
    border-color: #db1313;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}
.editButton {
    background-color:transparent;
    color: #dbc713;
    border-color: #dbc713;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}
.buttonForCompletedTask{
    background-color:transparent;
    color: grey;
    border-color: grey;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
}
